<html>
  <head>
    <title>Weather</title>
    <link href="css/layout.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <h2>Weather Information - {{location}}</h2>
    <h3>Icon: {{icon}}</h3>
    <div id="weather_div">
      <h3>Summary: {{summary}}</h3>
      <h3>Temperature: {{temperature}}</h3>
      <h3>Timezone: {{timezone}}</h3>
    </div>

    <img id="bg" src="imgs/Sketch.png" />

  </body>
</html>
